<div class="bg-white text-white shadow w-full p-4 flex items-center justify-between z-10 h-20" style="border-bottom: 1px solid #ccc;">
	<div class="flex items-center justify-between w-full">
		<img src="/icon-tmlogistica.png" alt="Logo" class="md:w-26 w-48 h-18 mr-2">
		<div class="md:hidden flex items-center"> 
			<button id="menuBtn">
				<i class="fas fa-bars text-gray-500 text-lg"></i> 
			</button>
		</div>
	</div> 
	<div class="hidden md:flex space-x-5">
		{# <button>
			<i class="fas fa-user text-gray-500 text-lg"></i>
		</button> #}
	</div>
</div>