@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dashboard-height: calc(100dvh - 5rem);
}

.toast {
	top: 12px;
	right: -220px;
	position: absolute;
	transition: all .5s ease;
}
.toast-on {
	right: 12px;
}