@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dashboard-height: calc(100dvh - 5rem);
}

.toast {
	top: 12px;
	right: -220px;
	position: absolute;
	transition: all .5s ease;
}
.toast-on {
	right: 12px;
}

@layer components {
	.scrollbar::-webkit-scrollbar {
	  width: 8px;
	  height: 8px;
	}
  
	.scrollbar::-webkit-scrollbar-track {
	  border-radius: 100vh;
	  background: #2f66ff83;
	}
  
	.scrollbar::-webkit-scrollbar-thumb {
	  background: #1a43cb;
	  border-radius: 100vh;
	  border: 2px solid #2566f3;
	}
  
	.scrollbar::-webkit-scrollbar-thumb:hover {
	  background: #1a43cbe5;
	}
}