{% extends "templates/base.njk" %}
{% block contents %}
    <h1>Login {{ error }}</h1>
    <form method="post">
        <input type="email" name="email" placeholder="Seu email.">
        <input type="password" placeholder="Sua senha" name="password">
        <button type="submit">Enviar!</button>
    </form>
{% endblock %}