<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>CRUD com nunjucks</h1>
    <form method="post">
        <input type="email" name="email" placeholder="Seu email.">
        <input type="password" placeholder="Sua senha" name="password">
        <button type="submit">Enviar!</button>
    </form>
</body>
</html>